.viewParentDiv {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.imageShowDiv {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageShowDiv img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2em;
  cursor: pointer;
  z-index: 1;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.detailsSection {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  margin-top: 3em;
}

.productDetails, .contactDetails {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
  width: 48%;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.productDetails:hover, .contactDetails:hover {
  transform: translateY(-5px);
}

.productDetails .price {
  font-weight: 700;
  color: #2a9d8f;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.productDetails .name, .productDetails .category {
  font-size: 20px;
  color: #264653;
  margin-bottom: 8px;
}

.contactDetails .sellerStatus {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contactDetails .sellerStatus img {
  margin-right: 8px;
}

.contactDetails .sellerName, .contactDetails .sellerPhone {
  font-size: 20px;
  color: #264653;
  margin-bottom: 8px;
}
